<div align="right">
<a href="http://nbviewer.ipython.org/github/CSP-UHS/Web-Development/blob/master/Chapter00.ipynb" align="right"><h2>Table of Contents</h2></a>
</div>

# Chapter 23: Retrieving Data

Now it's time to retrieve data from our database to our PHP pages.

This is really one of the most important chapters. Once you have read and understood this chapter, you will realize why database-driven web solutions are so powerful, and your views on web development will be expanded dramatically.

## SQL Queries

<h3>Example 1: Retrieving Data</h3>

To retrieve data from a database, you use queries. An example of a query could be: "get all data from the table 'people' sorted alphabetically" or "get names from the table 'people'".

Again, the language Structured Query Language (SQL) is used to communicate with the database. Let's look at each line of the code below which shows how data in the table "people" is retrieved with an SQL query.

We first write the query as a <b>SELECT</b> statement. The <b>'*'</b> is used to select all of the table.

We execute the query which returns a result in the form of a series of records which we stored in <b>&#36;result</b>. These records are stored in a so-called recordset. A recordset can be described as a kind of table in the server's memory, containing rows of data (records), and each record is subdivided into individual fields (or columns).

A recordset can be compared to a table where each record could be compared to a row in the table. We then ran through the recordset with a loop and the function <b>mysqli_fetch_array</b>, which returns each row as an array. We access each element of the array by using the column headings. In this loop we concatenated strings and variables with dots <b>(.)</b>

Proper protocol is to start your file by accessing the database, retrieving your data and then closing the connection before you start your HTML page. Then you can use your PHP loop within your HTML when you want to print the data.

<img src="http://www.hermonswebsites.com/PyNotebooks/HTML_CSS_PHP/23/retrieve1.png">

<h3>Example 2: Sort the data alphabetically, chronologically or numerically</h3>

Often it can be helpful if a list or table of data is presented alphabetically, chronologically or numerically. Such sorting is very easy to do with SQL, where the syntax <b>Order By ColumnName</b> is used to sort according to the column contents.

The records can, for example, be sorted alphabetically by the first name of the people this way:


<b>&#36;query = "SELECT * FROM people ORDER BY FirstName"</b>
	
	
Or chronologically by date of birth like this:


<b>&#36;query = "SELECT * FROM people ORDER BY BirthDate"</b>
	
	
The sorting can be charged from ascending to descending by adding DESC:


<b>&#36;query = "SELECT * FROM people ORDER BY BirthDate DESC"</b>

<h3>Example 3: Retrieve selected data</h3>

Until now, our SQL statement retrieves all rows from the table. But often you need to set criteria in the SQL query for the data to be retrieved, for instance, if we only want the rows for those who have a particular phone number or a certain last name.

Say, we only want to retrieve people from the database who have the last name "Dumbledore". That could be done like this:


<b>&#36;query = "SELECT * FROM people WHERE LastName = 'Dumbledore'"</b>
	
	
There are six relational operators in SQL:

= Equals<br>
&lt; Less than<br>
&gt; Greater than<br>
&lt;= Less than or equal to<br>
&gt;= Greater than or equal to<br>
!= Not equal to<br><br>
In addition, there are some logical operators:

AND<br>
OR<br>
NOT

<table style="background-color: #FFFFFF; border: 1px solid #000000; width: 100%; padding: 2px;">
<tr style="background-color: #0000FF;">
<td width="90" style="vertical-align: top; border: 1px solid #000000;"><img src="http://www.hermonswebsites.com/PyNotebooks/HTML_CSS_PHP/00/WebWiz.png" style="border: 2px solid #021a40;">
</td><td style="border: 1px solid #000000; color: #FFFFFF;"><h2><center><b>Web Wizardry Task</b></center></h2></td></tr>
<tr>
<td valign="top" colspan="2" style="text-align: left;"><font size="+1"><center><h2><u>Voldemort's Rolodex Part 3</u></h2></center>
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;In the next chapter we will be learning how to <b>UPDATE</b> a record in the database. To do this we need our form to provide a dropdown of wizards to choose from. This can be done using what we learned in this chapter. On the same page as the form you created in the last actvity create an update form which will eventually pass data to a file called <b>update.php</b>. Let the user select from an alphabetized by last name dropdown list of wizards. The data that should be passed to the update form however, should be the <b>id</b> of the wizard. Our final chapter will show you how to <b>DELETE</b> data from our database. So, once your update form is created you could duplicate it to make a delete form that sends the data to a file called <b>delete.php</b></font></td></tr></table>

<table  style="background-color: #FFFFFF; width: 100%; padding: 2px;">
<tr style="background-color: #FFFFFF;">
<td style="border: 1px solid white;" width="100px">
<div>
<a href="http://nbviewer.ipython.org/github/CSP-UHS/Web-Development/blob/master/Chapter22.ipynb"><img src="http://www.hermonswebsites.com/PyNotebooks/HTML_CSS_PHP/leftA.png" height="50px" width="50px" align="left"></a>
</div>
</td>
<td style="border: 1px solid white;">
<div align="center">
<a href="http://nbviewer.ipython.org/github/CSP-UHS/Web-Development/blob/master/Chapter00.ipynb"><h2>Table of Contents</h2></a>
</div>
</td>
<td style="border: 1px solid white;" width="100px">
<div>
<a href="http://nbviewer.ipython.org/github/CSP-UHS/Web-Development/blob/master/Chapter24.ipynb"><img src="http://www.hermonswebsites.com/PyNotebooks/HTML_CSS_PHP/rightA.png"  height="50px" width="50px"  align="right"></a>
</div>
</td>
</tr></table>